<h4 class="mb-4">{{ isEdit ? 'Edit' : 'Add'}} meal</h4>

<form #f="ngForm" (ngSubmit)="saveMeal()">
  <div class="row align-items-start flex-column no-gutters">
    <div class="form-group col-7 p-0 mb-3">
      <select class="custom-select" name="time" ngModel>
        <option selected value="breakfast">Breakfast</option>
        <option value="snack">Snack</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
      </select>
    </div>

    <div class="form-group col-7 mb-3">
      <textarea class="form-control" name="description" placeholder="Meal description" ngModel></textarea>
    </div>

    <div class="row align-items-center no-gutters p-0 mb-3">
      <div class="mr-3">
        <input type="number" class="form-control" name="calories" placeholder="Calories" ngModel>
      </div>
      <span>kcal</span>
    </div>

    <button class="btn btn-primary" [disabled]="isUploading">
      <span *ngIf="!isUploading">Save</span>
      <span class="spinner-border spinner-border-sm" *ngIf="isUploading">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </div>
</form>


